<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class x students results-Delhi Public School</title>
</head>
<body>
    <ul>
        <li>The marks of the John is : {{marks["John"]}}</li>
        <li>The marks of the Siddharth is : {{marks["Siddharth"]}}</li>
        <li>The marks of the Roshni is : {{marks["Roshni"]}}</li>
        <li>The marks of the Nukul is : {{marks["Nukul"]}}</li>
        
    </ul>
</body>
</html>